.events
  clear: both

.events__event
  margin-top: 20px
  padding-bottom: 1em
  ::after
    content : "";
    position: absolute;
    left: 25%
    bottom: 0
    height: 1px
    width: 50%
    border-bottom: 1px solid #666

.events__pic
  img
    display:block
    margin: 0 auto

.events__content
  height: 160px
  margin: .5em
