.events
  clear: both
  padding-top: 1.5em

.events__event
  margin-top: 20px
  padding-bottom: 1em
  ::after
    bottom: 0
    border-bottom: 1px solid #666
    content : "";
    height: 1px
    left: 25%
    position: absolute;
    width: 50%

.events__pic
  img
    display:block
    margin: 0 auto

.events__content
  height: 160px
  margin: .5em
