.daily {
  height: 246.96px;
}

.events__event {
  margin-top: 20px;
  color: #666;
  padding-bottom: 1em;
}

.events__event ::after {
  content: "";
  position: absolute;
  left: 25%;
  bottom: 0;
  height: 1px;
  width: 50%;
  border-bottom: 1px solid #666;
}

.events__pic img {
  display: block;
  margin: 0 auto;
}

.events__content {
  height: 160px;
  margin: .5em;
}

.hours {
  height: 189.33px;
}

.main-content {
  background-image: url(/imgs/desert.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 700px;
}

.sidebar {
  background-color: rgba(70,70,70,.4);
  height: 568px;
}

body {
  color: #e3e3e3;
}
