.daily {
  background-color: #999;
  height: 246.96px;
}

.events__event {
  margin-top: 20px;
  background-color: #666;
}

.events__pic-placeholder {
  height: 350px;
  width: 250px;
  background-color: #333;
  float: left;
  margin: 20px 0;
}

.events__content {
  margin-left: 20px;
  float: left;
}

.hours {
  height: 189.33px;
}

.main-content {
  background-image: url(http://i.imgur.com/d9TUvwM.jpg);
  background-size: cover;
  height: 568px;
}

.sidebar {
  background-color: #666;
  height: 568px;
}
